LISTEN_ADDR=127.0.0.1:9000
AGENT_TOKEN=replace-with-random-secret

WG_INTERFACE=wg0
WG_SUBNET=10.8.0.0/24
WG_ENDPOINT=151.243.113.31:51820
WG_PORT=51820

TOTAL_BANDWIDTH_MBIT=1000
MIN_PER_PEER_MBIT=50
FAIRSHARE_INTERVAL_SEC=120

BOT_TOKEN=
ADMIN_IDS=154923518,594024866
